{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-3 mb-4">{{ 'common.products'|trans }}</h1>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ product.image }}" width="200" style="max-height: 200px" alt="{{ product.name }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description[:100] }}...</p>
                            <div class="d-flex justify-content-between align-item-center">
                                <a href="{{ path('product.detail', {id: product.id}) }}" class="btn btn-dark">{{ 'button.view_details'|trans }}</a>
                                <span class="h5 mt-auto">{{ product.price }} ₺</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}